<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<resource-ref>
		<description>AnnunciG1 DB Connection</description>
		<res-ref-name>jdbc/AnnunciG1DB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>StrutsGate</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>StrutsGate</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

</web-app>